

.crt-load-more {
    padding: 4px;
    text-align: center;

    a {
        //width: 150px;
        margin: 0 auto;
        background-color: $color-primary;
        color: $color-secondary;
        display: inline-block;
        text-align: center;
        padding: 20px;
        border-radius: 0;
        //text-transform: uppercase;
        text-decoration: none;
        border: 1px solid $color-v2-post-border;
        box-shadow: 0px 2px 30px $color-v2-post-shadow;
    }
}