.crt-filter {
	margin: 5px;
	padding: 5px;
	text-align: center;

	.crt-filter-networks,
	.crt-filter-sources {
		position: relative;
		display: block;
		margin-bottom: 3px;

		ul {
			display: inline-block;
			margin: 0;
			padding: 0;
			background-color: #efefef;

			li {
				display: inline-block;

				a {
					display: block;
					padding: 7px 10px;
					text-decoration: none;
					font-size: 1em;
					line-height: 1.2em;
					color: #707070;

					transition: background-color 0.3s linear;

					i {
						margin-left: -5px;
						pointer-events: none
					}

					&:hover {
						text-decoration: none;
						background-color: rgba(0,0,0,.10);
					}
				}

				&.active {
					a {
						background-color: #cccccc;
					}
				}
			}
		}

		.crt-filter-label {
			//text-transform: uppercase;
			margin: 0 5px;
		}
	}
}