$width:60px;
$height:60px;

.crt-panel-next,
.crt-panel-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    width: $width;
    height: $height;
    z-index: 100;
    background-color: rgba(151, 152, 172, 0.27);
    border-radius: 50%;
    &:before {
        color: #ffffff;
        //color: #000000;
        font-size: 20px;
        font-family: 'crt-icon';
        line-height: 1;
        opacity: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.crt-panel-prev {
    left: 0-$width;
    @extend .crt-icon-left-open-big;

    &:before {
        margin-left: -3px;
    }
}

.crt-panel-next {
    right: 0-$width;
    @extend .crt-icon-right-open-big;

    &:before {
        margin-left: 3px;
    }
}

.crt-controls-over {
    .crt-panel-prev {
        left: 10px;
    }

    .crt-panel-next {
        right: 10px;
    }
}

.crt-controls-show-on-hover {
    .crt-panel-prev,
    .crt-panel-next {
        //display: none;
        opacity: 0;
        visibility: hidden;
        transition: visibility 0s, opacity 0.3s linear;
    }

    &:hover {
        .crt-panel-prev,
        .crt-panel-next {
            //display: block;
            visibility: visible;
            opacity: 1;
        }
    }
}