

.crt-post-header {
    margin-top: 28px;
    color: $color-post-header-text;
    position: relative;
    text-align: center;

    .crt-social-icon {
        display: block;
        margin-bottom: 12px;
        i {
            display: inline-block;
            font-size: 24px;
            color: $color-post-icon-text;
            line-height: 1em;

            &.crt-icon-twitter {
                font-size: 26px;
                margin-left: 6px;
            }
        }
    }

    .crt-post-fullname {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        margin-bottom: 6px;
        font-weight: bold;
    }
}