
.crt-grid-post-v2,
.crt-post-v2 {
	.crt-post-footer {
		position: relative;
		height: 40px;
		line-height: 40px;
		text-align: center;
		border-top: 1px solid $color-v2-post-border;
		background-color: $color-v2-post-background;

		.crt-post-userimage {
			position: absolute;
			top: 7px;
			left: 10px;
			width: 24px;
			height: auto;
			border-radius: 50%;
		}

		.crt-date {
			margin-top: 0;
			opacity: 0.5;
			font-size: .8em;
			text-transform: uppercase;
		}

		.crt-post-username {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			font-size: .8em;
			text-transform: uppercase;
		}

		.crt-post-share {
			position: absolute;
			top: 0px;
			right: 10px;
			font-size: .9em;
			color: $color-post-share-text;
			//background-color: $color-post-share-bg;
			text-align: right;
			box-shadow: none;

			a {
				display: inline-block;
				color: $color-post-share-text;
				opacity: 0.5;
				transition: opacity .3s linear;

				&:hover {
					opacity: 1;
				}

				i {
					font-size: 1.1em;
					display: inline-block;
					vertical-align: top;
					&:before {
						margin: 0 0 0 5px;
					}
					&.crt-icon-twitter {
						font-size: 1.1em;
						margin-top: 0em;
					}
				}
			}
		}
	}
}