

.crt-tag {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 999;
    text-shadow: 0px 0px 2px #000000;
    color:#ffffff;

    a {
        color: #efefef;
        text-decoration: none;
    }
}