
/**
* ==================================================================
* Grid POST
* ==================================================================
 */

.crt-grid-post-v2 {
    border: 0;
    margin: 0;
    float: left;

    .crt-post-c {
        overflow: hidden;
        position: relative;
        margin-left: 1px;
        margin-bottom: 1px;
    }

    img.crt-spacer {
        width: 100%;
        display: block;
        margin: 0 !important;
        padding: 0 !important;
        position: relative;
    }

    .crt-grid-post-text ,
    .crt-grid-post-image {
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;

        .crt-social-icon {
            position: absolute;
            right: 10px;
            bottom: 8px;
            z-index: 3;
            font-size: 24px;
            transition: opacity .2s linear;
            //color: #ffffff;
        }
    }

    .crt-grid-post-image {
        display: block;
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;

        .crt-post-content-image {
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center center;
            z-index: 1;
        }

        .crt-social-icon {
            i {
                color: #ffffff;
            }
        }

        .crt-image-carousel {
            position: absolute;
            bottom: 7px;
            left: 10px;
            color:#fff;
            font-size: 1.2em;
            display: none;

        }

        .crt-play {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            .crt-play-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -20px;
                margin-left: -10px;

                @include play(20px, 2px);
            }
        }
    }

    &.crt-has-image-carousel {
        .crt-grid-post-image {
            .crt-image-carousel {
                display: block;
            }
        }
    }

    &.crt-post-has-video {
        .crt-play {
            .crt-play-icon {
                display: block;
            }
        }
        //
        //.crt-hitarea {
        //    &:hover, &:focus {
        //        i {
        //            &:before {
        //                transform: scale(1.1);
        //                -webkit-transform: scale(1.1);
        //                -moz-transform: scale(1.1);
        //            }
        //        }
        //    }
        //}
    }

    .crt-grid-post-text {
        display: none;
        //padding-left: 17px;
        //padding-right: 17px;
        //padding-bottom: 28px;
        color: $color-post-text;
        font-size: $font-size-post-text;
        line-height: $line-height-post-text;
        text-align: center;

        .crt-grid-post-text-wrap {
            //display: flex;
            //align-items: center;
            //justify-content: center;

            display: table;

            position: absolute;
            top:0;
            height: 100%;
            //width:100%;
            padding: 0 10px 20px;
            overflow: hidden;


            div {
                display: table-cell;
                vertical-align: middle;
                text-overflow: ellipsis;
            }
        }
    }

    .crt-post-read-more,
    .crt-post-max-height-read-more {
        display: none;
    }

    &.crt-post-has-image {
        .crt-grid-post-image {
            display: block;
        }
        .crt-grid-post-text {
            display: none;
        }
        .crt-post-content-text {
            display: block;
        }
    }

    &.crt-post-content-image-hidden {
        .crt-grid-post-image {
            display: none;
        }
        .crt-grid-post-text {
            display: block;
        }
    }
	//
    //.crt-post-content-text-c {
	//
    //    .crt-post-content-text {
    //        font-size: 20px;
    //    }
    //    z-index: 2;
    //}

    .crt-post-hover {
        position: absolute;
        top:0px;
        left:0px;
        right:0px;
        bottom:0px;
        background-color: #ffffff;
        z-index: 3;
        opacity: 0;
        visibility: hidden;
        transition: visibility 0s, opacity 0.3s linear;

        .crt-post-content-text {
            padding-left: 17px;
            padding-right: 17px;
            padding-bottom: 28px;
            color: $color-post-text;
            font-size: $font-size-post-text;
            line-height: $line-height-post-text;
            text-align: center;

            a {
                color: $color-post-text-link;

                &:hover {
                    color: darken($color-post-header-text, 25);
                }
            }

            .crt-image {
                display: none;
            }
        }


        .crt-post-footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }

    }

    .crt-no-touch & {
        .crt-hitarea:hover {
            .crt-social-icon-normal {
                opacity: 0;

            }
            .crt-image-carousel {
                opacity: 0;
            }
            .crt-post-hover {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &.crt-post-has-image {
        .crt-post-content-text-c {
            display: none;
        }
    }


    &.crt-grid-post-minimal {

        .crt-post-hover {
            display: flex;
            align-items: center;
            > div {
                width: 100%;

            }

            .crt-post-header {
                padding-top: 0;
            }
        }

        .crt-post-minimal-stats {
            text-align: center;

            .crt-likes {
                i {
                    margin-right: 2px;
                }
                margin-right: 15px;
            }

            .crt-comments {
                i {
                    margin-right: 5px;
                    font-size: 0.90em;
                }
                //margin-right: 10px;
            }
        }
    }
}