

.crt-grid-post-v2,
.crt-post-v2 {
	.crt-post-header {
		padding-top: 28px;
		color: $color-post-header-text;
		position: relative;
		text-align: center;

		.crt-social-icon {
			margin-bottom: 12px;
			i {
				font-size: 24px;

				&.crt-icon-twitter {
					font-size: 26px;
					margin-left: 6px;
				}
			}
		}
	}

	.crt-social-icon {
		display: block;
		i {
			display: inline-block;
			color: $color-post-icon-text;
			line-height: 1em;
		}
	}

	.crt-post-fullname {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		display: block;
		margin-bottom: 6px;
		font-weight: bold;
	}
}