
.crt-widget-waterfall {
    .crt-post {
        margin: 0 10px 20px;
    }
}

.crt-post {
    border-radius: $post-border-radius;
    border: 1px solid $color-v2-post-border;
    position: relative;
    overflow: hidden;
    background-color: $color-v2-post-background;
    z-index: 1;

    a {
        transition: color 0.2s linear;
    }

    .crt-post-header {
        padding-top: 28px;
        color: $color-post-header-text;
        position: relative;
        text-align: center;

        .crt-social-icon {
            margin-bottom: 12px;
            i {
                font-size: 24px;

                &.crt-icon-twitter {
                    font-size: 26px;
                    margin-left: 6px;
                }
            }
        }
    }

    .crt-post-fullname {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        margin-bottom: 6px;
        font-weight: bold;
    }

    .crt-comments-likes {
        position: relative;
        //height: 40px;
        //line-height: 40px;
        //border-top: 1px solid $color-v2-post-border;
        //background-color: transparent;
        font-size: .8em;
        text-transform: uppercase;
        text-align: center;
        color: #999;
        padding: 0 0 13px;
        display: none;

        span {
            span {
                color: #000;
            }
        }

        .crt-sep,
        .crt-comments,
        .crt-likes {
            display: none;
        }
    }

    .crt-post-footer {
        position: relative;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-top: 1px solid $color-v2-post-border;

        .crt-post-userimage {
            position: absolute;
            top: 7px;
            left: 10px;
            width: 24px;
        }

        .crt-post-share {
            position: absolute;
            top: 0px;
            right: 10px;
            font-size: .9em;
            color: $color-post-share-text;
            //background-color: $color-post-share-bg;
            text-align: right;
            box-shadow: none;

            a {
                display: inline-block;
                color: $color-post-share-text;
                opacity: 0.5;
                transition: opacity .3s linear;

                &:hover {
                    opacity: 1;
                }

                i {
                    font-size: 1.1em;
                    display: inline-block;
                    vertical-align: top;
                    &:before {
                        margin: 0 0 0 5px;
                    }
                    &.crt-icon-twitter {
                        font-size: 1.1em;
                        margin-top: 0em;
                    }
                }
            }
        }
    }

    .crt-image {
        .crt-image-carousel {
            position: absolute;
            bottom: 7px;
            left: 10px;
            color:#fff;
            font-size: 1.2em;
            display: none;

        }
    }

    .crt-post-content-image {
        max-height: 400px;
        overflow: hidden;
        position: relative;

        .text {
            display: none;
        }

        IMG {
            width: 100%;
        }

        .crt-play-icon {
            display: none;
        }
    }

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .crt-post-title {
        padding-left: 17px;
        padding-right: 17px;
        padding-top: 17px;
        padding-bottom: 17px;
        color: $color-post-title;
        font-size: $font-size-post-text;
        line-height: $line-height-post-text;
        text-align: center;
    }

    .crt-post-content-text {
        padding-left: 17px;
        padding-right: 17px;
        padding-bottom: 28px;
        color: $color-post-text;
        font-size: $font-size-post-text;
        line-height: $line-height-post-text;
        text-align: center;

        img {
            max-width: 100%;
        }

        a {
            color: $color-post-text-link;

            &:hover {
                color: darken($color-post-header-text, 25);
            }
        }

        .crt-image {
            display: none;
        }
    }

    .crt-post-max-height-read-more,
    .crt-post-read-more {
        display: none;
        text-align: center;
        margin: 0.5em;
    }

    .crt-post-read-more-button {
        display: inline-block;
        background-color: #ddd;
        text-decoration: none;
        height: 2.5em;
        line-height: 2.5em;
        padding: 0 1em;
        border-radius: 00.1em;
        color: #666;
    }

    .crt-play {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        .crt-play-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -20px;
            margin-left: -10px;

            @include play(20px, 2px);
        }
    }

    &.crt-show-comments {
        .crt-comments-likes {
            display: block;
            .crt-comments {
                display: inline-block;
            }
        }
    }

    &.crt-show-likes {
        .crt-comments-likes {
            display: block;
            .crt-likes {
                display: inline-block;
            }
        }
    }

    &.crt-show-comments {
        &.crt-show-likes {
            .crt-sep {
                display: inline-block;
            }
        }
    }

    &.crt-has-image-carousel {
        .crt-image {
            .crt-image-carousel {
                display: block;
            }
        }
    }

    &.crt-post-show-read-more {
        .crt-post-read-more {
            display: block;
        }
    }

    &.crt-post-hide-share {
        .crt-post-footer {
            .crt-post-share {
                display: none;
            }
        }
    }

    &.crt-post-has-video {
        .crt-play-icon {
            display: block;
        }

        .crt-hitarea {
            &:hover, &:focus {
                i {
                    &:before {
                        transform: scale(1.1);
                        -webkit-transform: scale(1.1);
                        -moz-transform: scale(1.1);
                    }
                }
            }
        }

        &.crt-post-video-playing {
            .crt-play-icon {
                display: none;
            }
        }
    }

    &.crt-post-max-height {
        .crt-post {
            .crt-post-share {
                bottom: -50px;
                display: none;
            }
        }

        .crt-post-max-height-read-more {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
            padding-bottom: 0.5em;
            padding-top: 4em;

            margin: 0em;

            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,131313+100 */

            $gradEnd: rgba(239, 239, 239, 1);
            $gradEndStop: 50%;

            background: rgba(0, 0, 0, 0);
            background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, $gradEnd $gradEndStop);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop($gradEndStop, $gradEnd));
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, $gradEnd $gradEndStop);
            background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, $gradEnd $gradEndStop);
            background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, $gradEnd $gradEndStop);
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, $gradEnd $gradEndStop);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
        }
    }

    &.crt-post-no-image {
        .crt-post-content-image {
            display: none;
        }
    }
}