
.crt-grid-post {
    border: 0;
    margin: 0;
    float: left;
    clear:none;
    overflow: hidden;
    position: relative;
    padding: 0;

    .crt-post-c {
        position: relative;
        cursor: pointer;
    }

    .crt-grid-post-spacer {
        width: 100% !important;
        display: block;
        padding-bottom: 100%;
    }

    .crt-grid-post-text ,
    .crt-grid-post-image {
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;

        .crt-social-icon {
            position: absolute;
            right: 10px;
            bottom: 8px;
            z-index: 3;
            font-size: 24px;
            transition: opacity .2s linear;
            //color: #ffffff;
        }
    }

    video {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        //min-width: 100%;
        //min-height: 100%;
        width: auto;
        height: auto;
        //z-index: -1000;
        overflow: hidden;

        &.aspect-square {
            width: 100%;
            height: 100%;
        }

        &.aspect-portrait {
            width: 100%;
            height: auto;
        }

        &.aspect-landscape {
            width: auto;
            height: 100%;
        }
    }

    .crt-post-header {
        padding-top: 28px;
        color: $color-post-header-text;
        position: relative;
        text-align: center;

        .crt-social-icon {
            margin-bottom: 12px;
            i {
                font-size: 24px;

                &.crt-icon-twitter {
                    font-size: 26px;
                    margin-left: 6px;
                }
            }
        }
    }

    .crt-post-fullname {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        margin-bottom: 6px;
        font-weight: bold;
    }

    .crt-comments-likes {
        position: relative;
        //height: 40px;
        //line-height: 40px;
        //border-top: 1px solid $color-v2-post-border;
        //background-color: transparent;
        padding: 0 0 13px;
        font-size: .8em;
        text-transform: uppercase;
        text-align: center;
        color: #999;

        span {
            color: #000;
        }
    }

    .crt-post-footer {
        position: relative;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-top: 1px solid $color-v2-post-border;
        background-color: $color-v2-post-background;

        .crt-post-userimage {
            position: absolute;
            top: 7px;
            left: 10px;
            width: 24px;
        }

        .crt-post-share {
            position: absolute;
            top: 0px;
            right: 10px;
            font-size: .9em;
            color: $color-post-share-text;
            //background-color: $color-post-share-bg;
            text-align: right;
            box-shadow: none;

            a {
                display: inline-block;
                color: $color-post-share-text;
                opacity: 0.5;
                transition: opacity .3s linear;

                &:hover {
                    opacity: 1;
                }

                i {
                    font-size: 1.1em;
                    display: inline-block;
                    vertical-align: top;
                    &:before {
                        margin: 0 0 0 5px;
                    }
                    &.crt-icon-twitter {
                        font-size: 1.1em;
                        margin-top: 0em;
                    }
                }
            }
        }
    }

    .crt-grid-post-image {
        display: block;
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;

        .crt-post-content-image {
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center center;
            z-index: 1;
        }

        .crt-social-icon {
            i {
                color: #ffffff;
            }
        }

        .crt-image-carousel {
            position: absolute;
            bottom: 7px;
            left: 10px;
            color:#fff;
            font-size: 1.2em;
            display: none;

        }

        .crt-play {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            .crt-play-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -20px;
                margin-left: -10px;

                @include play(20px, 2px);
            }
        }
    }

    &.crt-has-image-carousel {
        .crt-grid-post-image {
            .crt-image-carousel {
                display: block;
            }
        }
    }

    &.crt-post-has-video {
        .crt-play {
            .crt-play-icon {
                display: block;
            }
        }


        &.crt-post-video-playing {
            .crt-play {
                .crt-play-icon {
                    display: none;
                }
            }
        }
    }

    .crt-grid-post-text {
        display: none;
        //padding-left: 17px;
        //padding-right: 17px;
        //padding-bottom: 28px;
        color: $color-post-text;
        font-size: $font-size-post-text;
        line-height: $line-height-post-text;
        text-align: center;

        .crt-grid-post-text-wrap {
            //display: flex;
            //align-items: center;
            //justify-content: center;

            display: table;

            position: absolute;
            top:0;
            height: 100%;
            //width:100%;
            padding: 0 10px 20px;
            overflow: hidden;


            div {
                display: table-cell;
                vertical-align: middle;
                text-overflow: ellipsis;
            }
        }
    }

    .crt-post-read-more,
    .crt-post-max-height-read-more {
        display: none;
    }

    &.crt-post-has-image {
        .crt-grid-post-image {
            display: block;
        }
        .crt-grid-post-text {
            display: none;
        }
        .crt-post-content-text {
            display: block;
        }
    }

    &.crt-post-content-image-hidden {
        .crt-grid-post-image {
            display: none;
        }
        .crt-grid-post-text {
            display: block;
        }
    }
	//
    //.crt-post-content-text-c {
	//
    //    .crt-post-content-text {
    //        font-size: 20px;
    //    }
    //    z-index: 2;
    //}

    .crt-post-hover {
        position: absolute;
        top:0px;
        left:0px;
        right:0px;
        bottom:0px;
        background-color: #ffffff;
        z-index: 3;
        opacity: 0;
        visibility: hidden;
        transition: visibility 0s, opacity 0.3s linear;

        .crt-post-content-text {
            padding-left: 17px;
            padding-right: 17px;
            padding-bottom: 28px;
            color: $color-post-text;
            font-size: $font-size-post-text;
            line-height: $line-height-post-text;
            text-align: center;

            a {
                color: $color-post-text-link;

                &:hover {
                    color: darken($color-post-header-text, 25);
                }
            }

            .crt-image {
                display: none;
            }
        }


        .crt-post-footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }

    }

    .crt-no-touch & {
        .crt-post-c {
            cursor: pointer;
            &:hover {
                .crt-social-icon-normal {
                    opacity: 0;

                }

                .crt-image-carousel {
                    opacity: 0;
                }

                .crt-post-hover {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }

    &.crt-post-hide-share {
        .crt-post-footer {
            .crt-post-share {
                display: none;
            }
        }
    }

    &.crt-post-has-image {
        .crt-post-content-text-c {
            display: none;
        }
    }


    &.crt-grid-post-minimal {

        .crt-post-hover {
            display: flex;
            align-items: center;
            > div {
                width: 100%;

            }

            .crt-post-header {
                padding-top: 0;
            }
        }

        .crt-post-minimal-stats {
            text-align: center;

            .crt-likes {
                i {
                    margin-right: 2px;
                }
                margin-right: 15px;
            }

            .crt-comments {
                i {
                    margin-right: 5px;
                    font-size: 0.90em;
                }
                //margin-right: 10px;
            }
        }
    }
}