

.crt-responsive-video {
    padding-bottom: 100%;
    iframe {
        position: absolute;
        top:0;
        left: 0;
        width:100%;
        height:100%;
    }
}

.crt-sep {
    width: 4px;
    height: 1em;
    display: inline-block;
    margin: 0 4px;
    position: relative;

    &:before {
        position: absolute;
        background-color: #CCCCCC;
        width: 4px;
        height: 4px;
        display: block;
        content:'';
        top: 50%;
        margin-top: -1px;
    }
}

.crt-widget {
    button {
        cursor: pointer;
    }
}

.crt-notice {
    text-align: center;
    margin: 20px;

    span {
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        padding: 10px 20px;
        color: #0b0b0b;
        display: inline-block;
    }

    &.crt-notice-error {
        span {
            color: #ff0000;
            background-color: rgba(255, 0, 0, 0.05);
        }
    }

    &.crt-notice-info {
        span {
            color: #4e7291;
            background-color: rgba(143, 188, 240, 0.25);
        }
    }
}