

.crt-responsive-video {
    padding-bottom: 100%;
    iframe {
        position: absolute;
        top:0;
        left: 0;
        width:100%;
        height:100%;
    }
}

.crt-sep {
    width: 4px;
    height: 1em;
    display: inline-block;
    margin: 0 4px;
    position: relative;

    &:before {
        position: absolute;
        background-color: #CCCCCC;
        width: 4px;
        height: 4px;
        display: block;
        content:'';
        top: 50%;
        margin-top: -1px;
    }
}