.crt-hitarea {
    cursor: pointer;
}

.crt-responsive-video {
    padding-bottom: 100%;
    iframe {
        position: absolute;
        top:0;
        left: 0;
        width:100%;
        height:100%;
    }
}