
body {
    font-family: 'Tahoma',Arial,sans-serif;
    font-size: 100%;
}
h1,h2 {
    text-align: center;
}
.crt-logo {
//display: none;
}
.center {
    text-align: center;
}
#curator-feed {
    max-width:1200px;
    margin:0 auto;
    width: 100%;
}

.pagination {
    text-align: center;
    margin-bottom:15px;
}

.pagination a {
    display: inline-block;
    line-height: 30px;
    height: 30px;
    width: 30px;
    text-decoration: none;
    color: #000000;
    background-color: #efefef;
    border-radius: 3px;
}

.pagination a.selected {
    background-color: #b2b2b2;
}