
body {
    /*font-family: 'Tahoma',Arial,sans-serif;*/
    /*font-size: 100%;*/

    /*background-color: #efefef;*/
    /*background-color: #000000;*/
    /*background-color: #ffffff;*/
}

h1,h2 {
    text-align: center;
}

.crt-logo {
    /*display: none;*/
}

.center {
    text-align: center;
}

#curator-feed {
   // max-width:1200px;
    margin:0 auto 100px;
    width: 100%;
}

.pagination {
    text-align: center;
    margin-bottom:15px;
}

.pagination a {
    display: inline-block;
    line-height: 30px;
    height: 30px;
    width: 30px;
    text-decoration: none;
    color: #000000;
    background-color: #efefef;
    border-radius: 3px;
}

.pagination a.selected {
    background-color: #b2b2b2;
}

.example-panel {
    position: fixed;
    top:20px;
    right:20px;
    background-color: #efefef;
    border: 1px solid  #b2b2b2;
    min-width: 220px;
    min-height: 100px;
}

.example-panel ul {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}

.example-panel ul li {
    padding:5px 10px;
    margin: 0;
}

#log {
    position: fixed;
    top:0;
    right:0;
    z-index: 100;
    background-color: rgba(0,0,0,0.25);
    padding: 10px;
    max-height: 100%;
    overflow-y: scroll;
    color:#ffffff;
}