.crt-carousel {
    min-width: 320px;
    min-height: 400px;
    position: relative;
    font-family: 'Arial';

    .crt-logo {
        display: none;
    }

    .crt-feed-scroll {
        width:100%;
    }

    .crt-feed {
        width:100%;
        @extend .crt-clearfix;

        background-color: $color-feed-bg;
        -webkit-font-smoothing:antialiased;
        font-family: 'Helvetica',Arial,sans-serif;
    }

    .crt-post-c {
        float: left;
    }

    .slick-track {
        display: flex !important;
    }
    .slick-track .slick-slide {
        display: flex !important;
        height: auto;
        justify-content: center;
    }
}

