.crt-carousel {
    //min-width: 320px;
    min-height: 400px;
    position: relative;
    font-family: 'Arial';

    .crt-logo {
        display: none;
    }

    .crt-feed-scroll {
        width:100%;
    }

    .crt-feed {
        width:100%;
        //@extend .crt-clearfix;

        background-color: $color-feed-bg;
        -webkit-font-smoothing:antialiased;
        font-family: 'Helvetica',Arial,sans-serif;
    }

    .crt-post-c {
        float: left;
        width: 100%;
    }

    .ctr-carousel-slider {
        display: flex !important;
        .crt-post-c {
            display: flex !important;
            height: auto;
            justify-content: center;
        }
    }

}

