.crt-carousel {
    //min-width: 320px;
    min-height: 400px;
    position: relative;

    .crt-logo {
        display: none;
    }

    .crt-feed-scroll {
        width:100%;
    }

    .crt-feed {
        width:100%;
        //@extend .crt-clearfix;

        background-color: $color-feed-bg;
        -webkit-font-smoothing:antialiased;
    }

    .crt-post-c {
        width: auto;

        .crt-post {
            width: auto;
        }
    }

    .ctr-carousel-stage {
        //border: 1px solid red;
    }

    .ctr-carousel-slider {
        display: flex !important;

        .crt-post-c {
            //display: flex !important;
            height: auto;
            justify-content: center;
            //background-color: #efefef;
        }
    }
}


$width:30px;
$height:50px;

.crt-panel-next,
.crt-panel-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    padding: 0;
    margin-top: -10px;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    width: $width;
    height: $height;
    z-index: 100;

    &:before {
        color: #000000;
        font-size: 35px;
        font-family: 'crt-icon';
        line-height: 1;
        opacity: .75;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.crt-panel-prev {
    left: 0-$width;

    &:before {
        content: '\e804';
    }
}

.crt-panel-next {
    right: 0-$width;

    &:before {
        content: '\e803'; // right-arrow
    }
}