

.crt-carousel-pane {
    float: left;

    .crt-grid-post-v2 {
        float: none;
    }
}

.crt-widget-grid-carousel {
    position: relative;

    .crt-logo {
        display: none;
    }

    .crt-grid-carousel-feed {
        width:100%;
        position: relative;
        //@extend .crt-clearfix;

        -webkit-font-smoothing:antialiased;
    }

    .crt-hide-controls {
        .crt-panel-next,
        .crt-panel-prev {
            display: none;
        }
    }

    .crt-post {
        width: 100%;
        padding: 0 10px;
        float: left;
        .crt-post-c {
            width: 100%;
        }
    }

    .crt-grid-carousel-stage {
        width: 100%;
        overflow: hidden;
        position: relative;

        &.crt-match-heights {
            .crt-post-content {
                margin-bottom: 40px;
            }

            .crt-post-footer {
                position: absolute;
                bottom: 0;
                width: 100%;
            }
        }
    }

    .crt-grid-carousel-slider {
        width: 0%;
        list-style: none;
        position: relative;
        overflow: hidden;
        padding: 0;
        left:0;
        display: block;

        .crt-post-c {
            //display: flex !important;
            height: auto;
            justify-content: center;
            //background-color: #efefef;
        }
    }
}