.crt-grid {
	position: relative;

	.crt-logo {
		display: none;
	}

	@include crt-clearfix();


	.crt-grid-post {
		width: 33%;
	}

	$size-list: 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15;
	@each $size in $size-list {
		$i: index($size-list, $size);
		&.crt-grid-col#{$i} {
			.crt-grid-post {
				width: (100% / $size);
			}
		}
	}

	.crt-feed {
		@include crt-clearfix();
	}


	.crt-feed-more {
		text-align: center;
		a {
			display: inline-block;
			background-color: #efefef;
			color: #000000;
			padding: 20px;
			margin-top: 15px;
			text-decoration: none;
			border-radius: 3px;
		}
	}
}

