.crt-widget-list {
	position: relative;

	.crt-logo {
		display: none;
	}

	@include crt-clearfix();


	.crt-feed {
		@include crt-clearfix();
	}

	.crt-list-post {
		border: 0;
		margin: 0;
		padding-bottom: 20px;

		@include crt-clearfix();

		.crt-post-content {
			display: table;
		}

		.crt-list-post-image {
			display: table-cell;
			vertical-align: top;

			width: 170px;
			padding-right: 20px;

			img {
				max-width: 100%;
			}

			div {
				position: relative;
			}
		}

		.crt-list-post-text {
			display: table-cell;
			vertical-align: top;

		}

		img.spacer {
			width: 100%;
			display: block;
			margin: 0 !important;
			padding: 0 !important;
			position: relative;
		}

		.crt-social-icon-normal {
			color: #ffffff;
		}

		.crt-image-carousel ,
		.crt-social-icon {
			position: absolute;
			right: 3px;
			bottom: 5px;
			z-index: 3;
			font-size: 1.3em;
			transition: opacity .4s linear;
			color: #ffffff;
		}

		.crt-social-icon {
			left: 3px;
			right: auto;
		}

		.crt-post-content-image {
			background-size: cover;
			background-position: center center;
			z-index: 1;
		}

		.crt-post-content-text-c {

			.crt-post-content-text {
				font-size: 20px;
			}
			z-index: 2;
		}

		.crt-post-hover {
			position: absolute;
			top:3px;
			left:3px;
			right: 3px;
			bottom: 3px;
			background-color: rgba(255, 255, 255, 0.80);
			z-index: 3;
			opacity: 0;
			transition: opacity .4s linear;

			.crt-post-header .crt-social-icon,
			.crt-post-header {
				background-color: transparent;

				IMG {
					margin-left: 6px;
					margin-top: 6px;
				}

				.crt-post-name {
					left: 53px;
					margin-top: 0;
					font-size: 0.8em;
				}
			}

			.crt-post-hover-text {
				padding: 6px;
				font-size: 0.85em;
			}
		}

		.crt-hitarea:hover {
			.crt-social-icon-normal {
				opacity: 0;

			}
			.crt-post-hover {
				display: block;
				opacity: 1;
			}
		}

		&.crt-post-has-image {
			.crt-post-content-text-c {
				display: none;
			}
		}
	}
}

