


.crt-panel {
    //max-width: 320px;
    min-height: 400px;
    position: relative;

    .crt-logo {
        display: none;
    }

    .crt-post {
        margin: 0 4px;
        box-sizing: border-box;
    }
}

