


.crt-panel {
    //max-width: 320px;
    min-height: 400px;
    position: relative;

    .crt-logo {
        display: none;
    }

    .crt-post {
        margin: 0 4px;
        box-sizing: border-box;
    }

    $width:30px;
    $height:50px;

    .slick-prev, .slick-next {
        z-index: 100;
    }

    .slick-prev,
    .slick-next {
        width: $width;
        height: $height;
        &:before,
        &:before {
            color: #000000;
            font-size: 25px;
            font-family: 'crt';
        }
    }

    .slick-prev {
        left: 0-$width;

        &:before {
            content: '\e804';
        }
    }

    .slick-next {
        right: 0-$width;

        &:before {
            content: '\e803'; // right-arrow
        }
    }
}

