

.crt-feed-container {
    min-height: 400px;
    position: relative;

    .crt-logo {
        display: none;
    }

    .crt-feed-scroll {
        width:100%;
    }

    .crt-feed {
        width:100%;
        @extend .crt-clearfix;
    }

    .crt-post-v1 {
        width: 100%;
        float: none;
        display: block;
        margin-bottom: 10px;

        .crt-post {

        }
    }

    .crt-post-v2 {
        margin: 0 12px 24px;
        width: auto;
        float: none;
    }
}


