
$post-border-radius:            0px;

$font-size-post-header-text:    0.9em;
$line-height-post-header-text:  1.1em;

$font-size-post-text:           1.0em;
$line-height-post-text:         1.2em;

$color-primary:             #efefef;
$color-secondary:           #2B2B2B;
$color-tertiary:            #707070;

$color-feed-bg:             #ffffff;

$color-post-bg:             $color-primary;
$color-post-shadow:         #CCCCCC;
$color-post-border:         $color-primary;

$color-post-header-bg:      $color-primary;
$color-post-header-text:    $color-secondary;
$color-post-icon-bg:        $color-primary;
$color-post-icon-text:      $color-secondary;
$color-post-text:           $color-tertiary;
$color-post-text-link:      $color-secondary;
$color-post-share-bg:       opacify($color-post-header-bg, 1);
$color-post-share-text:     $color-secondary;

@import "_common/mixins";
@import "_common/fontello";

@import "_partials/post";
@import "_partials/tag";
