
$post-border-radius:            0px;

$font-size-post-header-text:    0.9em;
$line-height-post-header-text:  1.1em;

$font-size-post-text:           1.0em;
$line-height-post-text:         1.2em;

$color-primary:             	#fff;
$color-secondary:           	#2B2B2B;
$color-tertiary:            	#707070;

$color-feed-bg:             	#ffffff;

$color-post-bg:             	$color-primary;
$color-post-shadow:         	#CCCCCC;
$color-post-border:         	$color-primary;

$color-post-header-bg:      	$color-primary;
$color-post-header-text:    	$color-secondary;
$color-post-icon-bg:        	$color-primary;
$color-post-icon-text:      	$color-secondary;
$color-post-text:           	$color-tertiary;
$color-post-text-link:      	$color-secondary;
$color-post-share-bg:       	opacify($color-post-header-bg, 1);
$color-post-share-text:     	$color-secondary;

$color-popup-borders:       	#efefef;
$color-popup-text2:       	    #CCCCCC;
$color-popup-text3:       	    #666;

// v2

$color-v2-post-background:       #ffffff;
$color-v2-post-border:           rgba(0,0,0,0.10);
$color-v2-post-shadow:           rgba(0,0,0,0);

// v1

$color-v1-post-background:       #efefef;

@import "_common/mixins";
@import "_vendor/fontello/css/crt-icon";

@import "_common/icons";
@import "_common/general";

@import "_ui/feed";
@import "_ui/general/popup";
@import "_ui/play";
@import "_ui/filter";
@import "_ui/responsive-image";

// Themes - v1
@import "_ui/post_v1";
@import "_ui/grid_post_v1";

// Themes - v2
@import "_ui/post_v2";
@import "_ui/post_v2_header";
@import "_ui/post_v2_footer";
@import "_ui/grid_post_v2";


