


@import "curator.core";

.crt-feed-container {
    min-width: 320px;
    min-height: 400px;
    position: relative;
    font-family: 'Arial';

    .crt-feed-scroll {
        width:100%;
    }

    .crt-feed {
        width:100%;
        @extend .crt-clearfix;

        background-color: $color-feed-bg;
        -webkit-font-smoothing:antialiased;
        font-family: 'Helvetica',Arial,sans-serif;
    }

    .crt-post-c {
        width: auto;
        float: none;
        display: inline-block;

        .crt-post {

        }
    }

    .crt-feed-more {
        background-color: $color-feed-bg;
        padding: 4px;

        a {
            width: 100px;
            margin: 0 auto;
            background-color: $color-primary;
            color: $color-secondary;
            display: block;
            text-align: center;
            padding: 20px;
            border-radius: 4px;
            text-transform: uppercase;
            text-decoration: none;

        }
    }
}


